<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Automation Practice Test">
    <test verbose="2" preserve-order="true" name="">
        <classes>
            <class name="AutomationPracticeTest"/>
        </classes>
    </test>
</suite>